<ion-view view-title="Add Chantin">
  <ion-content>
    <form ng-submit="doAddroom(1)">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Tamaño aprox(m2)</span>
            <input type="number" required placeholder="Ejem: 50" ng-model="addroom.size">
          </label>
          <label class="item item-input">
            <span class="input-label">Titulo</span>
            <input type="text" required placeholder="Titulo para la publicacion que se muestre" ng-model="addroom.titulo">
          </label>
          <label class="item item-input">
            <span class="input-label">Precio</span>
            <input type="number" required placeholder="money$.$" ng-model="addroom.price">
          </label>
          <label class="item item-input">
            <span class="input-label">Descripcion</span>
            <input type="text" placeholder="Cuentanos como es el lugar que rentas" ng-model="addroom.description">
          </label>
          <label class="item item-input">
            <span class="input-label">Imagen</span>
            <input type="file" required id="roomiefoto">
          </label>
          <label>
          </label>
          <label class="item">
            <button class="button button-block button-positive" type="submit">Registrar</button>
          </label>
        </div>
    </form>
  </ion-content>
</ion-view>