li{
        list-style: none;
        background-color: lightblue;
        display: inline;
        font-size: 60px;
        margin-left: 10px;
        padding-left: 100px;
}
#hola{
        padding-left: 0px;
    }
.clase1{
  top: 200px;
  left: 0px;
}