<ion-view view-title="MILCHANTE">
  <ion-content>
        <div class="row" >
            <div class="medium-6 small-6 column" ng-repeat="post in baseRommies">
              <div class="card primary-color">
                  <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" data-ng-src="{{ post.get('imagen').url()}}" data-err-src="img/prueba-roomie.jpg">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{post.get("titulo")}}<i class="material-icons right">{{post.get("precio")}}</i></span>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{post.get("titulo")}}<i class="material-icons right">|x|x|x|</i></span>
                    <p>{{ post.get("descripcion") }}</p>
                  </div>
                </div>
              </div>
          </div>
  </ion-content>
</ion-view>
