/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
.primary-color {
  background-color: #B7C82C; }

[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
  background-color: #B7C82C; }

.bar.bar-stable .title {
  left: 0px;
  right: 0px;
  background: url("../img/logo-pantalla-principal.png");
  background-size: 80px 40px;
  background-repeat: no-repeat;
  background-position: right center; }

.ion-navicon:before {
  font-family: Lato;
  content: url("../img/menu.png"); }

/*# sourceMappingURL=style.css.map */
